<div>
	<% @user.comments.each do |c| %>
	<li>
		<%= Event.find(c.event_id).title %>
		| <%= c.content %>
		( <%= link_to 'Edit', edit_weekend_event_comment_path(id: c.id, event_id: c.event_id, weekend_id: Event.find(c.event_id).weekend_id) %>
		  | <%= link_to 'Delete', weekend_event_comment_path(id: c.id, event_id: c.event_id, weekend_id: Event.find(c.event_id).weekend_id), :method => :delete, :data=>{:confirm=>'Are you sure?'} %> )
	</li>
	<% end %>
</div>