<div>
	<%= event.title %> 
	|<%= link_to 'edit', edit_weekend_event_path(id:event.id, weekend_id:params[:id]) %> 
	| <%= link_to 'show', weekend_event_path(id:event.id, weekend_id:params[:id]) %> 
</div>
