<div>
	<%= link_to event.title, weekend_event_path(id:event.id, weekend_id:params[:id]), :class => "btn btn-sm btn-primary"%> 
	<% if current_duser.is_member %>
	<%= link_to 'Edit', edit_weekend_event_path(id:event.id, weekend_id:params[:id]), :class => "btn"%> 
	| <%= link_to 'Delete', weekend_event_path(id:event.id, weekend_id:params[:id]), :method => :delete, :data=>{:confirm=>"Are you sure?"}, :class => "btn" %>
	<% end %>
</div>
