<div>
	<%= link_to weekend.date, weekend_path(id:weekend.id), :class => "btn-lg btn-primary" %>
	<% if current_user.is_member %>
		<%= link_to 'Edit', edit_weekend_path(id:weekend.id), :class => "btn btn-xs" %>
		| <%= link_to 'Delete', weekend, :method=>:delete, :data=>{:confirm=>'Are you sure?'}, :class => "btn btn-xs" %>
	<% end %>
</div>