<% provide :title, 'Weekender Online' %>

<h1 style="text-align:center">Weekender Online</h1>

<% if current_duser.is_member %>
	<%= link_to(new_weekend_path, :class => "btn btn-success", :style => "margin-left:5%") do %>
		<span class="glyphicon glyphicon-plus"></span> New Weekend
	<% end %>
<% end %>

<div class="jumbotron">
<div class="row">
	<%= render @weekends %>
</div>
</div>