<div style="padding-top:10px"><%= link_to '« All Weekends', root_path %></div>
<h1>Weekend of <%= @weekend.date %></h1>

<div>
<%= render @events %>
</div>

<br />

<% if current_user.is_member %>
<%= link_to 'New Event', new_weekend_event_path(params[:id]), :class => "btn"%>
<% end %>